server:
  port: 8765

spring:
  application:
    name: ms-api-gateway

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

      routes:
        - id: worker-service
          uri: lb://hr-worker
          predicates:
            - Path=/hr-worker/**

        - id: payroll-service
          uri: lb://hr-payroll
          predicates:
            - Path=/hr-payroll/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
